{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hub_main/css/auth.css' %}">
{% endblock %}

{% block content %}
<!-- Login section -->
<section>
    <div class="container" id="login-container">
        <!-- Login heading -->
        <h3>Login</h3>
        <!-- Login form -->
        <form method="POST">
            {% csrf_token %}
            <!-- Username input -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <!-- Password input -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <!-- Login button and create an account link -->
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding-bottom: 20px;">
                <button type="submit" class="btn btn-outline-primary" id="login-submit">Login</button>
                <em style="padding: 5px 0px; color: gray;">Or</em>
                <a href="{% url 'register' %}">Create an account</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}