{% extends "base.html" %}

{% block content %}
<section>
    <div class="container" id="login-container">
        <h3>Sign Up</h3>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}

            {{ form }}

            <input type="submit">
        </form>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const userInput = document.getElementById('id_username');
        const passInput1 = document.getElementById('id_password1');
        const passInput2 = document.getElementById('id_password2');
        const submitBtn = document.querySelector('input[type="submit"]');
        const listItems = document.querySelectorAll('li');

        userInput.classList.add('form-control');
        passInput1.classList.add('form-control');
        passInput2.classList.add('form-control');
        submitBtn.classList.add('btn', 'btn-primary')

        for(li of listItems){
            li.classList.add('list-group-item');
        }
    })
</script>

{% endblock %}