{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load bootstrap and general styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'hub_main/css/styles.css' %}">

    <!-- Page specific styles -->
    {% block styles %}

    {% endblock %}
    <!-- Load favicon and set title -->
    <link rel="icon" href="{% static 'hub_main/images/favicon.ico' %}" type="image/x-icon">
    <title>Project Hub</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <!-- Logo -->
              <a class="navbar-brand" href="{% url 'home' %}" aria-label="Home"><img src="{% static 'hub_main/images/logo.png' %}" height="30" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Nav items -->
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}" aria-label="Home">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Browse">
                      Browse
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'browse_project' 1 'a-z' %}" aria-label="Project portfolio 1">Project Portfolio 1</a></li>
                      <li><a class="dropdown-item" href="{% url 'browse_project' 2 'a-z' %}" aria-label="Project portfolio 2">Project Portfolio 2</a></li>
                      <li><a class="dropdown-item" href="{% url 'browse_project' 3 'a-z' %}" aria-label="Project portfolio 3">Project Portfolio 3</a></li>
                      <li><a class="dropdown-item" href="{% url 'browse_project' 4 'a-z' %}" aria-label="Project portfolio 4">Project Portfolio 4</a></li>
                      <li><a class="dropdown-item" href="{% url 'browse_project' 5 'a-z' %}" aria-label="Project portfolio 5">Project Portfolio 5</a></li>
                      <li><a class="dropdown-item" href="{% url 'browse_project' 6 'a-z' %}" aria-label="Other">Other</a></li>
                    </ul>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'project_submission' %}" aria-label="Submit a project">Submit a project</a>
                    </li>
                  {% else %}
                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Sign up or login to submit a project">
                      <a class="nav-link disabled" href="{% url 'project_submission' %}" aria-label="Submit a project">Submit a project</a>
                    </li>
                  {% endif %}
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}" aria-label="Logout">Logout</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}" aria-label="Login">Login</a>
                    </li>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <li class="nav-link">
                    <a href="{% url 'profile_page' %}" aria-label="Profile page"><i class="fa-solid fa-circle-user fa-2xl"></i></a>
                  </li>
                  {% else %}
                  <li class="nav-link disabled">
                    <a href="#" aria-label="Profile page"><i class="fa-solid fa-circle-user fa-2xl"></i></a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <!-- Feedback messages -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <!-- Page specific content -->
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

<!-- Footer -->
<footer>
    <h3>Check out my socials!</h3>
    <div>
      <a href="https://www.linkedin.com/in/linus-elvius-83385b1b3" target="_blank" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/linx02" target="_blank" aria-label="GitHub"><i class="fa-brands fa-square-github"></i></a>
    </div>
</footer>

<!-- Load external scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/23c1e8fb66.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<!-- Page specific scripts -->
{% block scripts %}

{% endblock %}
</html>