{% extends "base.html" %}

{% load static %}
<!-- Load page specific styles -->
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hub_main/css/browse_project.css' %}">
{% endblock %}

{% block content %}

<!-- Page section -->
<section>
    <div id="header" class="padding-content">
        <!-- Page heading -->
        <h1 id="browse-heading">{{ category.name }}</h1>
        <!-- Sort by button -->
        <div class="btn-group" id="filter-btn">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'browse_project' category.id 'a-z' %}" aria-label="Sort alphabetically">A-Z</a></li>
                <li><a class="dropdown-item" href="{% url 'browse_project' category.id 'recently-added' %}" aria-label="Sort by recently added">Recently added</a></li>
                <li><a class="dropdown-item" href="{% url 'browse_project' category.id 'top-rated' %}" aria-label="Sort by top rated">Top Rated</a></li>
            </ul>
        </div>
    </div>
    <!-- Posts container -->
    <div class="container-fluid padding-content">
        <div class="grid">
            <div class="row">
                {% for post in posts %}
                <!-- Project card -->
                <div class="col-md-3 col-6">
                    <a href="{% url 'project_details' post.slug %}" style="color:inherit;" aria-label="View project">
                        <div class="my-card">
                            <img src="{{ post.image }}" class="my-card-img" alt="project image">
                            <div class="my-card-body">
                                <h2 class="my-card-title">{{ post.title }}</h2>
                                <div class="my-card-author">
                                    <i class="fa-solid fa-circle-user fa-2xl"></i>
                                    <span>{{ post.author }}</span>
                                </div>
                                <p class="my-card-text">{{ post.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 10vh;">
        {% if posts.has_previous %}
            <a href="?page=1" aria-label="First page">&laquo </a>
            <a href="?page={{ posts.previous_page_number }}" aria-label="Previous page">Previous</a>
        {% endif %}
        <span style="padding: 0px 10px;">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" aria-label="Next page">Next </a>
            <a href="?page={{ posts.paginator.num_pages }}" aria-label="Last page">&raquo</a>
        {% endif %}
    </div>
</section>

{% endblock %}

<!-- Load page specific scripts -->
{% block scripts %}

	<script src="{% static 'hub_main/js/card_animations.js' %}"></script>

{% endblock %}