{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        {% for post in posts %}
        <div class="card" style="width: 15rem;">
            <img src="https://picsum.photos/500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text"><strong>{{ post.author }}</strong></p>
              <a href="{% url 'project_details' post.slug %}" class="btn btn-primary">View project</a>
            </div>
          </div>
        {% endfor %}
    </div>
</section>
{% endblock %}