{% extends "base.html" %}

{% load static %}

{% block content %}

<section>
	<div id="hero-background">
		<div class="container" id="hero-outer">
			<div id="hero-cta">
				{% if user.is_authenticated %}
					<h1>Welcome back, <br>{{ user }}!</h1>
					<a href="{% url 'project_submission' %}" class="btn btn-outline-primary btn-lg">Submit a project</a>
				{% else %}
					<h1>Share your projects<br>with the community</h1>
					<a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg">Sign Up</a>
					<em><p>Already have an account?</p></em>
					<a href="{% url 'login' %}" class="">Login</a>
				{% endif %}
			</div>
			<div class="d-none d-lg-block" id="hero-svg"></div>
		</div>
	</div>
</section>

<section>
    <div class="container-fluid padding-content" id="hall-of-fame-section">

        <h2 class="section-title">Hall of Fame</h2>

        <div class="grid">
            <div class="row">
                <div class="col-md-6 col-12">
					<a href="{% url 'project_details' hof_post_1.slug %}" style="color:inherit;">
						<div class="my-card hall-of-fame-card">
							<img src="https://picsum.photos/800/500" class="my-card-img" alt="...">
							<div class="my-card-body">
								<h5 class="my-card-title">{{ hof_post_1.title }}</h5>
								<p class="my-card-text">{{ hof_post_1.description }}</p>
								<div class="my-card-author">
									<i class="fa-solid fa-circle-user fa-2xl"></i>
									<span>{{ hof_post_1.author }}</span>
								</div>
							</div>
						</div>
					</a>
                </div>
                <div class="col-md-3 col-6">
					<a href="{% url 'project_details' hof_post_2.slug %}" style="color:inherit;">
						<div class="my-card hall-of-fame-card">
							<img src="https://picsum.photos/500" class="my-card-img" alt="...">
							<div class="my-card-body">
								<h5 class="my-card-title">{{ hof_post_2.title }}</h5>
								<p class="my-card-text">{{ hof_post_2.description }}</p>
								<div class="my-card-author">
									<i class="fa-solid fa-circle-user fa-2xl"></i>
									<span>{{ hof_post_2.author }}</span>
								</div>
							</div>
						</div>
					</a>
                </div>
                <div class="col-md-3 col-6">
					<a href="{% url 'project_details' hof_post_3.slug %}" style="color:inherit;">
						<div class="my-card hall-of-fame-card">
							<img src="https://picsum.photos/500" class="my-card-img" alt="...">
							<div class="my-card-body">
								<h5 class="my-card-title">{{ hof_post_3.title }}</h5>
								<p class="my-card-text">{{ hof_post_3.description }}</p>
								<div class="my-card-author">
									<i class="fa-solid fa-circle-user fa-2xl"></i>
									<span>{{ hof_post_3.author }}</span>
								</div>
							</div>
						</div>
					</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid padding-content">
    <h2 class="section-title">Recently Added</h2>

            <div class="grid">
                <div class="row">
                    {% for post in recent_posts %}
                    <div class="col-md-3 col-6 recently-added-card">
                        <a href="{% url 'project_details' post.slug %}" style="color:inherit;">
                            <div class="my-card">
                                <img src="https://picsum.photos/500" class="my-card-img" alt="...">
                                <div class="my-card-body">
                                    <h5 class="my-card-title">{{ post.title }}</h5>
                                    <p class="my-card-text">{{ post.description }}</p>
                                    <div class="my-card-author">
                                        <i class="fa-solid fa-circle-user fa-2xl"></i>
                                        <span>{{ post.author }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>

<section>
    <div class="container-fluid padding-content">
        <h2 class="section-title">Browse by Category</h2>

    <div class="accordion" id="accordionCategories">
        {% for category in categories %}
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category.slug }}" aria-expanded="false" aria-controls="collapseOne">
                <strong>{{ category.name }}</strong>
                </button>
            </h2>
            <div id="{{ category.slug }}" class="accordion-collapse collapse" data-bs-parent="#accordionCategories">
                <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                <br><a href="#" class="btn btn-outline-primary">Browse projects</a>
                </div>
            </div>
            </div>
        {% endfor %}
      </div>

      </div>
</section>

{% endblock %}

{% block scripts %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
	<script src="{% static 'hub_main/js/home_animations.js' %}"></script>
	<script src="{% static 'hub_main/js/card_animations.js' %}"></script>

{% endblock %}