{% extends "base.html" %}

{% load static %}

{% block content %}

<p class="d-none" id="github_repo_link">{{ post.github_repo_link }}</p>

<section>
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col-md-8 col-12 project-image">
                    <img src="{{ post.image.url }}" alt="{{ post.image.title }}">
                </div>

                <div class="col-md-4 col-12" id="project-profile-container">
                    <div id="profile-author-container">
                        <a href="{% url 'view_profile' post.author %}" style="color: inherit; text-decoration: none;">
                            <span>{{ post.author }}</span>
                            <i class="fa-solid fa-circle-user fa-2xl"></i>
                        </a>
                    </div>

                    <div class="row row-cols-2">
                        {% for post in author_posts %}
                            <div class="col">
                                <a href="{% url 'project_details' post.slug %}" style="color:inherit;">
                                    <div class="my-card author-card">
                                        <img src="{{ post.image }}" class="my-card-img" alt="...">
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="project-data">
            <div class="title-likes-container">
                <h1>{{ post.title }}</h1>
                <div class="likes">
                    <p>{{ post.number_of_likes }}</p>
                    <form action="{% url 'like_post' post.id %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button style="border: none; background-color: inherit;" type="submit"><i id="like" class="fa-solid fa-heart"></i></button>
                        {% else %}
                        <button style="border: none; background-color: inherit;" type="submit"><i id="like" class="fa-regular fa-heart"></i></button>
                        {% endif %}
                    </form>
                </div>
            </div>
            <a class="author-small d-md-none" style="color: inherit; text-decoration: none; margin-bottom: 20px;" href="{% url 'view_profile' post.author %}">
                <i class="fa-solid fa-circle-user fa-xl"></i>
                <span>{{ post.author }}</span>
            </a>
            <p>{{ post.description }}</p>
            <div>
                <a href="{{ post.live_link }}" target="_blank" style="width: max-content; text-decoration: none;" class="project-link">View this project <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                <a href="{{ post.github_repo_link }}" target="_blank" style="width: max-content; text-decoration: none;" class="project-link">View on GitHub <i class="fa-brands fa-square-github fa-xl"></i></a>
            </div>
        </div>

        <div class="readme-section">
            <h5 id="readme-header">Readme.md</h5>
            <div class="project-readme">
        </div>
    </div>

</section>

<div class="container">
    <div class="comment-section">
        {% for comment in comments %}
            <div class="comment">
                <i class="fa-solid fa-circle-user fa-xl"></i>
                <span class="comment-author"><strong>@{{ comment.user }}</strong></span>
                <span class="comment-date"><em>{{ comment.created_on }}</em></span>
                <p class="comment-body">{{ comment.body | linebreaks }}</p>
            </div>
        {% endfor %}
        <div id="post-comment">
            <form method="POST" action="{% url 'post_comment' post.id %}">
                {% csrf_token %}
                <input type="text" class="form-control" name="comment_body" id="comment-input">
                {% if user.is_authenticated %}
                    <input type="submit" class="btn btn-outline-primary" value="Post comment" id="comment-btn">
                {% else %}
                    <input type="submit" class="btn btn-outline-primary" value="Post comment" id="comment-btn" disabled>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    const githubRepoLink = '{{ post.github_repo_link }}';
</script>

<script>
    if('{{ liked }}' !== 'True'){
        const like = document.getElementById('like');
        like.addEventListener('mouseenter', function(){
            like.classList = 'fa-solid fa-heart';
        })
        like.addEventListener('mouseleave', function(){
            like.classList = 'fa-regular fa-heart';
        })
    }
</script>

<script src="{% static 'hub_main/js/load_github.js' %}"></script>
<script src="{% static 'hub_main/js/card_animations.js' %}"></script>

{% endblock %}
