{% extends "base.html" %}

{% load static %}

{% block content %}

<p class="d-none" id="github_repo_link">{{ post.github_repo_link }}</p>

<section>
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col-md-8 col-12 project-image">
                    <img src="https://picsum.photos/500" alt="">
                </div>

                <div class="col-md-4 col-12 readme-section">
                    <h5 id="readme-header">Readme.md</h5>

                    <div class="project-readme">

                    </div>
                </div>
            </div>
        </div>

        <div class="project-data">
            <div class="project-info">
                <h1>{{ post.title }}</h1>
                <p>{{ post.description }}</p>
                <a href="{{ post.live_link }}" target="_blank">View this project</a>
            </div>

            <div class="likes">
                <span>{{ post.number_of_likes }}</span>
                <i class="fa-regular fa-heart"></i>
            </div>
        </div>
    </div>

</section>

<div class="container">
    <div class="comment-section">
        {% for comment in comments %}
            <div class="comment">
                <i class="fa-solid fa-circle-user fa-xl"></i>
                <span class="comment-author"><strong>@{{ comment.user }}</strong></span>
                <span class="comment-date"><em>{{ comment.created_on }}</em></span>
                <p class="comment-body">{{ comment.body | linebreaks }}</p>
            </div>
        {% endfor %}
        <div id="post-comment">
            <form method="POST" action="{% url 'post_comment' post.id %}">
                {% csrf_token %}
                <input type="text" class="form-control" name="comment_body" id="comment-input">
                {% if user.is_authenticated %}
                    <input type="submit" class="btn btn-outline-primary" value="Post comment" id="comment-btn">
                {% else %}
                    <input type="submit" class="btn btn-outline-primary" value="Post comment" id="comment-btn" disabled>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    const githubRepoLink = '{{ post.github_repo_link }}';
</script>
<script src="{% static 'hub_main/js/load_github.js' %}"></script>

{% endblock %}