{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container" id="project_submission_container">
        <form method="POST" action="{% url 'project_submission' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
            <legend>Submit a project</legend>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" type="text" id="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="category" id="category" class="form-select" required>
                    <option value="1">Project Portfolio 1</option>
                    <option value="2">Project Portfolio 2</option>
                    <option value="3">Project Portfolio 3</option>
                    <option value="4">Project Portfolio 4</option>
                    <option value="5">Project Portfolio 5</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description <em style="color: grey;">(Optional)</em></label>
                <textarea name="description" id="description" class="form-control" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Project Image <em style="color: grey;">(Optional)</em></label>
                <br>
                <div style="display:flex; align-items: center; height: max-content;">
                    <input type="checkbox" class="btn-check" id="generate-link" autocomplete="off" name="generate_link">
                    <label class="btn btn-outline-primary" for="generate-link" style="white-space: nowrap;">Generate from link</label>
                    <em style="padding: 0px 10px;">Or</em>
                    <input class="form-control" type="file" id="image" name="image" accept="image/png, image/jpeg" />
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="live-link">Live link to project</label>
                <input name="live_link" type="url" id="live-link" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">GitHub repo link <em style="color: grey;">(Optional)</em></label>
                <input name="github_repo_link" type="url" id="description" class="form-control">
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
            </fieldset>
        </form>
    </div>
{% endblock %}