{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hub_main/css/project_update.css' %}">
{% endblock %}

{% block content %}
    <div class="container" id="project_submission_container">
        <form method="POST" action="{% url 'project_update' post_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
            <legend>Edit post</legend>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" type="text" id="title" class="form-control" value="{{ title }}" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="category" id="category" class="form-select" required>
                    {% if category == 1 %}
                    <option value="1" selected>Project Portfolio 1</option>
                    {% else %}
                    <option value="1">Project Portfolio 1</option>
                    {% endif %}
                    {% if category == 2 %}
                    <option value="2" selected>Project Portfolio 2</option>
                    {% else %}
                    <option value="2">Project Portfolio 2</option>
                    {% endif %}
                    {% if category == 3 %}
                    <option value="3" selected>Project Portfolio 3</option>
                    {% else %}
                    <option value="3">Project Portfolio 3</option>
                    {% endif %}
                    {% if category == 4 %}
                    <option value="4" selected>Project Portfolio 4</option>
                    {% else %}
                    <option value="4">Project Portfolio 4</option>
                    {% endif %}
                    {% if category == 5 %}
                    <option value="5" selected>Project Portfolio 5</option>
                    {% else %}
                    <option value="5">Project Portfolio 5</option>
                    {% endif %}
                    {% if category == 6 %}
                    <option value="6" selected>Other</option>
                    {% else %}
                    <option value="6">Other</option>
                    {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description <em style="color: grey;">(Optional)</em></label>
                <textarea name="description" id="description" class="form-control" rows="5">{{ description }}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Project Image <em style="color: grey;">(Optional)</em></label>
                <br>
                <div style="display:flex; align-items: center; height: max-content;" id="file-upload">
                    <input type="checkbox" class="btn-check" id="generate-link" autocomplete="off" name="generate_link">
                    <label class="btn btn-outline-primary" for="generate-link" style="white-space: nowrap;">Generate from link</label>
                    <em style="padding: 0px 10px;">Or</em>
                    <input class="form-control" type="file" id="image" name="image" accept="image/png, image/jpeg" />
                </div>
            </div>
            <p id="error-text">File size exceeds the maximum allowed size (10MB)</p>
            <div class="mb-3">
                <label class="form-label" for="live-link">Live link to project</label>
                <input name="live_link" type="url" id="live-link" class="form-control" value="{{ live_link }}" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">GitHub repo link <em style="color: grey;">(Optional)</em></label>
                <input name="github_repo_link" type="url" id="description" class="form-control" value="{{ github_repo_link }}" pattern="/https:\/\/github\.com\/([^/]+)\/([^/]+)$/">
            </div>
            <p id="error-text-github">Invalid GitHub repo link, readme.md will not be loaded. Correct format: https://github.com/username/repo-name</p>
            <button type="submit" class="btn btn-outline-primary">Update</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'hub_main/js/validate_inputs.js' %}"></script>
{% endblock %}