/* Login section */
#login-container {
    margin-top: 10vh;
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 50%;
    min-height: 45vh;
    border: 1px solid black;
    border-radius: 10px;
}

#login-container h3 {
    text-align: center;
    padding-bottom: 20px;
}

.helptext {
    font-style: italic;
    color: #000;
}

.errorlist {
    color: var(--error-red);
}

label[for="id_password1"] {
    display: block;
}

/* Media queries */
@media (max-width: 768px) {
    #login-container {
        width: 90%;
    }
}