/* Override bootstrap accordion */
.accordion {
    --bs-accordion-color: var(--jet-black);
    --bs-accordion-bg: var(--ghost-white);

    --bs-accordion-btn-focus-border-color: var(--un-blue);
    --bs-accordion-active-color: var(--un-blue);
}

/* Hero section */
#hero-outer {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#hero-background {
    background-image: url('../images/background-waves.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

#hero-cta {
    text-align: center;
}

#hero-cta h1 {
    font-size: 4rem;
    padding-bottom: 20px;
}

#header-word {
    color: var(--un-blue);
}

#hero-cta p {
    padding-top: 10px;
    margin-bottom: 5px;
}

#hero-cta a {
    text-decoration: none;
}

#hero-svg {
    height: 60vh;
    width: 40vw;
    background-image: url('../images/hero-image.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Hall of fame / Recently added sections */
#hall-of-fame-section {
    background: linear-gradient(to bottom, #4facf7, var(--ghost-white));
}

.section-title {
    padding-top: 15vh;
    margin-bottom: 5vh;
    font-size: 3rem;
}

.recently-added-card {
    margin-bottom: 20px;
}

#big-hof img {
    height: 15vw;
}

/* Media queries */
@media (max-width: 768px) {

    #hero-cta {
        margin: auto;
    }

    #hero-cta h1 {
        font-size: 3rem;
    }

    .row .col-12 {
        margin-bottom: 3vh;
    }

    .my-card {
        height: 40vw;
    }

    .my-card-title {
        font-size: 3vw;
        width: 30vw;
    }

    .my-card-text, .my-card-author {
        font-size: 2vw;
        -webkit-line-clamp: 3;
    }

    #big-hof img {
        height: 20vw;
    }

    .section-title {
        font-size: 2em;
    }
}