/* Project submission form */
#project_submission_container {
    margin-top: 5vh;
}

/* Error texts */
#error-text {
    display: none;
    padding-top: 10px;
    color: var(--error-red);
}

#error-text-github {
    display: none;
    color: var(--error-red);
}