@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

:root {
    --ghost-white: #F7F7FF;
    --jet-black: #343434;
    --un-blue: #5899E2;
    --error-red: #EF5D60;
}

body {
    background-color: var(--ghost-white);
}

.navbar {
    background-color: var(--ghost-white);
}

.nav-link:hover {
    color: var(--un-blue);
}

a {
    color: inherit;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: var(--un-blue);
}

h1, h2, h3, h4, h5 {
    color: var(--jet-black);
}

.btn-outline-primary {
    --bs-btn-color: var(--un-blue);
    --bs-btn-border-color: var(--un-blue);

    --bs-btn-hover-bg: var(--un-blue);
    --bs-btn-hover-border-color: var(--un-blue);
    --bs-btn-active-bg: var(--un-blue);
    --bs-btn-active-border-color: var(--un-blue);
    --bs-btn-disabled-color: var(--un-blue);
    --bs-btn-disabled-border-color: var(--un-blue);
}

.padding-content {
    padding-left: 50px;
    padding-right: 50px;
}

.my-card {
    border-radius: 10px;
    height: 25vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    background-color: var(--ghost-white);
    overflow: hidden;
}

.my-card:hover {
    cursor: pointer;
}

.my-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    max-height: 200px;
}

.my-card-body {
    position: absolute;
    left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-card-title {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    width: 18vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-card-text {
    display: -webkit-box;
    width: calc(80%);
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 1vw;
    margin-left: 0.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-card-author {
    font-size: 1vw;
    padding: 10px 0px;
}

footer {
    margin-top: 10vh;
    padding-top: 5vh;
    height: 20vh;
    background-color: var(--ghost-white);
    text-align: center;
    font-size: 2rem;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

footer a {
    color: black;
    padding-bottom: 5vh;
}

@media (max-width: 768px) {

    #hero-cta {
        margin: auto;
    }

    #hero-cta h1 {
        font-size: 3rem;
    }

    .row .col-12 {
        margin-bottom: 3vh;
    }

    .my-card {
        height: 40vw;
    }

    .my-card-title {
        font-size: 3vw;
        width: 30vw;
    }

    .my-card-text, .my-card-author {
        font-size: 2vw;
        -webkit-line-clamp: 3;
    }

    #big-hof img {
        height: 20vw;
    }

    .project-image {
        border-radius: 10px;
    }

    #project-profile-container {
        display: none;
    }

    #login-container {
        width: 90%;
    }

    .section-title {
        font-size: 2em;
    }
}