* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero-outer {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#hero-cta {
    text-align: center;
}

#hero-cta h1 {
    font-size: 4rem;
    padding-bottom: 20px;
}

#hero-cta p {
    padding-top: 10px;
    margin-bottom: 5px;
}

#hero-cta a {
    text-decoration: none;
}

#hero-svg {
    height: 60vh;
    width: 40vw;
}

.section-title {
    margin-top: 15vh;
    margin-bottom: 5vh;
    font-size: 3rem;
}


.home-content {
    padding-left: 50px;
    padding-right: 50px;
}

.my-card {
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: scroll;
}

.my-card:hover {
    cursor: pointer;
}

.my-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.my-card-body {
    position: absolute;
    left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-card-title {
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.my-card-text {
    font-size: 1vw;
    margin-bottom: 1vw;
    margin-left: 0.2vw;
}

.my-card-author {
    font-size: 1vw;
}

footer {
    margin-top: 20vh;
    height: 35vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

footer a {
    color: black;
}

.image-profile {
    display: flex;
    justify-content: center;
}

.project-image {
    margin-top: 5vh;
    width: 60vw;
    border-radius: 10px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.profile-section {
    margin-top: 5vh;
    margin-left: 2vw;
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
    height: 60vh;
}

.project-data {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    width: 58vw;
}

.comment-section {
    margin-top: 10vh;
    background-color: whitesmoke;
    border-radius: 10px;
}

.comment-section a {
    margin: 10px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.comment-date {
    padding-left: 5px;
    font-size: 0.9em;
}

#login-container {
    margin-top: 10vh;
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 50%;
    min-height: 45vh;
    border: 1px solid black;
    border-radius: 10px;
}

#login-container h3 {
    text-align: center;
    padding-bottom: 20px;
}

#project_submission_container {
    margin-top: 5vh;
}

@media (max-width: 768px) {

    #hero-cta {
        margin: auto;
    }

    #hero-cta h1 {
        font-size: 3rem;
    }

    .row .col-12 {
        margin-bottom: 3vh;
    }

    .row .col-6 .my-card {
        height: 130%;
    }

    .my-card-title {
        font-size: 3vw;
    }
    .my-card-text, .my-card-author {
        font-size: 2vw;
    }
}