/* Override my-card class */
.profile-post-card {
    margin-bottom: 80px;
}

/* Profile container / Upper section */
#profile-container {
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 10vh;
    border-bottom: 1px solid black;
}

#profile-container h1{
    margin-bottom: 5vh;
}

#profile-container h3{
    font-size: medium;
}

#profile-container > div{
    margin-bottom: 5vh;
    font-size: xx-large;
}

/* All project cards */
#profile-page-posts {
    margin-top: 10vh;
}